@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #A52422;
  --primary-hover-color: #830404;
  --dark-color: #080F0F;
  --secondary-color: #A4BAB7;
  --light-color: #EFF2C0;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}